<center><h2 color="blue"><u>Add Product</u></h2></center>
<form>
  <div class="form-group">
    <label for="product_name">Product name <font color="red">*</font></label>
    {{input type="text" class="form-control" placeholder="Product Name" id="product_name" value=productName}}
  </div>
  <div class="form-group">
    <label for="imageUrl">Image Url <font color="red">*</font></label>
    {{input type="text" class="form-control" id="imageUrl" placeholder="Image" value=image}}
  </div>

  <div class="form-group">
    <label for="category">Category <font color="red">*</font></label>
    {{input type="text" class="form-control" id="category" placeholder="Image" value=category}}
  </div>
  <div class="form-group">
    <label for="description">Product description <font color="red">*</font></label>
    {{input type="text" class="form-control" placeholder="Description" id="description" value=description}}
  </div>
  <div class="form-group">
    <label for="imageUrl">Details <font color="red">*</font></label>
    {{textarea type="text" class="form-control" id="details" placeholder="Details" value=details}}
  </div>
  <div class="form-group">
    <label for="price">Price<font color="red">*</font></label>
    {{input type="number" class="form-control" placeholder="Product Name" id="price" value=price}}
  </div>
  <button {{action 'saveProduct'}} class="btn btn-primary">Submit</button>
</form>
